@font-face {
    font-family: 'Iceland';
    src: url('../font/Iceland-Regular.ttf') format('truetype');
}

body {
   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background: url('../img/gta_decors1.jpg') center center fixed no-repeat;
    /* cover->la photo va prendre toute la place*/
    background-size: cover;
    /* Masque la barre de défilement horizontale */
   
}

/*--------------------Header.php -----------------*/

/* marge droite par rapport à logo*/

.navbar-brand {
    margin-right: 15rem;
}

.cc-navbar {
    background-color: rgba(0, 0, 0, 0.55);
    font-family: 'Iceland';
    font-size: 1.5rem;
    /*rajouter une ligne blanche sur le bas de nav*/
    box-shadow: 1px 1px rgba(255, 255, 255, 0.54);

    /* pour mettre la nav au dessus au moment du scrol*/
    z-index: 99;
}

/* effet sur les menu*/

.cc-navbar .nav-link {
    /* Ajout ligne en dessous mais transparent jusqu'à hover*/
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

.cc-navbar .nav-link:hover {
    padding-bottom: 15px;
    /* border bottom devient vert*/
    border-bottom-color: var(--bs-teal);
}
/*la taille de la petite maison menu Home*/
.img-home {
    width: 130%;
}
/* logo starIsland menu gauche*/
.logo {
    position: absolute;
    width: 12%;
    top: 10%;
    left: 0.2%;
}

/* tutoriel et event menu*/
.vector {
    margin-bottom: -2%;
}

.event {
    bottom: 10%;
    position: relative;
}

.tuto {
    position: relative;
    bottom: -15%;

}

.tuto img,
.event img {
    margin-right: 10%;
    width: 1.5rem;
    height: 1.5rem;
    ;
}

.tuto p,
.event p {
    color: white;
    font-size: 1rem;
}

/*------------------------------------*/
/*-------------Index.php---------------*/
/*------------------------------------*/

/*les fonds des sections index.php*/

.banner {
    position: absolute;
    top: 0;
    left: 0;
    /* fixer et centrer la photo */

    /* h500 -> ajouter une hauter de 500px*/
    height: 700px;
    width: 100%;

}


/* les titres*/

.titre {
    position: relative;
    top: -20vh;
}


/*---------------Section 2-------------*/
/* Carousel*/

#carouselExampleCaptions {
    margin-top: 3%;
}



/*---------------Section 3-------------*/
.top img {
    width: 30%;
    margin-right: 5%;
}

.top span {
    color: orangered;
    font-weight: bold;
    font-size: 2rem;
}

.top h1 {
    margin-left: 10px;
}

.top p {
    color: black;
    font-weight: bold;
    font-size: 2rem;

}

/* class sur <p> votre avis nous interresse et star island*/

.star {
    margin-left: 30%;
    color: rgb(233, 231, 231);
    font-weight: bold;
    font-size: 2rem;
}

/* text area votre commentaire*/
.message,
.comment {
    border-radius: 0.9rem;
}

/* etoile votre commentaire*/
.etoile img {
    margin-right: 1rem;
}


/* Opacity des sections et les o*/
#section2,
#section3 {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}


#section1 {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#rond1 {
    color: white;
}

#rond2,
#rond3 {
    color: red;
}

/* position de la navigation des section o*/
.navigation {
    position: absolute;
    top: 600px;
    left: 0;
    width: 100%;

}

/*---------------------------------------*/
/* -----------Reseaux sociaux------------*/

.reseaux-sociaux {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 650px;
    left: 50%;
    bottom: 9vh;
}


.reseaux-sociaux a {
    display: flex;
    position: absolute;
    transition: ease-in-out .9s;
    width: 3em;
    height: 3em;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.reseaux-sociaux a.reseaux img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
}

#discorde {
    display: inline-block;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: end;
    opacity: 1;

}


/* positionner les icones derrière discorde*/
#discorde img {
    width: 3em;
    height: 2.3em;
    object-fit: cover;
}
.reseaux-sociaux #facebook {
    transform: translateX(0);
    opacity: 0;
    transition: ease-in-out .9s;
}

.reseaux-sociaux #instagramme {
    transform: translateX(0);
    opacity: 0;

    transition: ease-in-out .9s;
}

.reseaux-sociaux #tiktok {
    transform: translateX(0);
    opacity: 0;
    transition: ease-in-out .9s
}

.reseaux-sociaux #twitter {
    transform: translateX(0);
    opacity: 0;
    transition: ease-in-out .9s;

}

.reseaux-sociaux #youtube {
    transform: translateX(0);
    opacity: 0;
    transition: ease-in-out .9s
}

.reseaux-sociaux #twitch {
    transform: translateX(0);
    opacity: 0;
    transition: ease-in-out .9s
}

/*hover reseau sociaux*/

.reseaux-sociaux:hover #facebook {
    transform: translateX(3em);
    opacity: 1;
}

.reseaux-sociaux:hover #instagramme {
    transform: translateX(7.5em);
    transition: ease-in-out .9s;
    opacity: 1;

}

.reseaux-sociaux:hover #tiktok {
    transform: translateX(5.5em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.reseaux-sociaux:hover #twitter {
    transform: translateX(-3em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.reseaux-sociaux:hover #youtube {
    transform: translateX(-5.5em);
    transition: ease-in-out .9s;
    opacity: 1;

}

.reseaux-sociaux:hover #twitch {
    transform: translateX(-7.5em);
    transition: ease-in-out .9s;
    opacity: 1;

}

/* section Avis decalage du à la position absolue des section1,2,3*/

.avis {

    margin-top: 910px;
    position: relative;
    top: -30vh;
}
.bloc {
    width: 300px;
}
/*-------------Avis------------*/
.rep {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

/**/
.rep1 {
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

#rep2 {
    position: relative;
    top: 3rem;
}

#rep3 {
    position: relative;
    top: 3rem;
}

#rep4 {
    position: relative;
    top: 5rem;
}
/*--------------------------------------*/
/*-------------FIN index.php------------*/



/*--------------galerie.php--------------*/
/*---------------------------------------*/

/*centrés le titre avec un top car le nav est absolute */

.titre-page {
    position: absolute;
    top: 13vh;
    left: 50%;
    transform: translateX(-50%);

}

/*----------carrousel galerie-----------*/

#slider {
    position: relative;
    border: 2px solid red;
    width: 40%;
    height: 22vw;
    margin: 150px auto;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

input[type=radio] {
    position: relative;
    top: 108%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);

}


input[type=radio]:nth-child(5) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}


#slider label,
#slider label img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 70px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    cursor: pointer;
}



/* Slider Functionality */

/* Active Slide */
#s1:checked~#slide1,
#s2:checked~#slide2,
#s3:checked~#slide3,
#s4:checked~#slide4,
#s5:checked~#slide5 {
    box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked~#slide2,
#s2:checked~#slide3,
#s3:checked~#slide4,
#s4:checked~#slide5,
#s5:checked~#slide1 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(20%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked~#slide3,
#s2:checked~#slide4,
#s3:checked~#slide5,
#s4:checked~#slide1,
#s5:checked~#slide2 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked~#slide4,
#s2:checked~#slide5,
#s3:checked~#slide1,
#s4:checked~#slide2,
#s5:checked~#slide3 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    transform: translate3d(-40%, 0, -250px);
}

/* Previous Slide */
#s1:checked~#slide5,
#s2:checked~#slide1,
#s3:checked~#slide2,
#s4:checked~#slide3,
#s5:checked~#slide4 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate3d(-20%, 0, -100px);
}

/*----------fin carrousel-----------------/
/*----------carrousel galerie-----------*/
/*--------------FIN galerie.php----------*/


/* -------------------VIP.php---------------*/
/*-----------------------------------------*/

/* centré le container absolute du à la nav*/
.titreCentre {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
}

/*---------VIP-----------*/

/* les deux textes*/
.sousvip h2 {
    color: orange;
    text-decoration: underline;
}
/* bordure des personnage*/
.vipBordure{
    width:10vw;
    height: 35vh;
    border: 4px solid black;
}
/* Les 2 personnages*/
#vipGauche{
    position: relative;
    margin-top:15vh;
}
#personnaGauche{
    position: relative;
    width: 115%;
    height: 115%;
    bottom:2.1rem;
    left:0.5rem
}
#personnaDroite{
    position: relative;
    right:0.9rem
}
/*-----------------VIP-----------------*/
/*----------------FIN vip.php----------------*/





/*--------------------Equipe.php--------------------*/
/*-------------------------------------------------*/
/*centrés le titre avec un top car le nav est absolute */

/*titre-page => galerie*/
/* menu*titre*/
.equipeBloc {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    margin-right: -2px;
    box-shadow: 2px 0 0 white;
    border-radius: 10px;
  }

  /*---------------------------------------*/
/*--------------FIN Equipe------------------*/


/*-------------------------------------------*/
/*-----------------evenement.php-------------*/

/*titreCentre => VIP*/
    
 /*---------------------------------------*/
/*--------------FIN Evenement------------------*/

/*--------footer-----------*/
.footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.55);

}

.footer .right img {
    width: 30%;
}

.footer .left {

    margin: 0.5rem;
    display: flex;
}

.footer .left p {
    font-size: 1rem;
    color: white;
}

.footer .left img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    background: transparent;
    border: 1px solid orangered;
}

/*------ FIN footer-----------*/