@font-face {
    font-family: 'Iceland';
    src: url('../font/Iceland-Regular.ttf') format('truetype');
}

body {
    background-color: black;
}

main {
    height: 100vh;
    background-image: url('../img/Perso1-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 30% top;
}

label {
    font-family: 'Iceland', cursive;
    font-size: 4em;
    color: #000000;
    text-shadow: 2px 2px 0 #000000, 4px 4px 0 #000000;
}

.reseaux-sociaux {
    position: absolute;
    bottom: 70px;
}


.reseaux-sociaux  a {
    display: flex;
    position: absolute;
    transition: ease-in-out .9s;
    width: 3em;
    height: 3em;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.reseaux-sociaux  a.reseaux img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
}

#discorde {
    display: inline-block;
    width: 3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: end;
    opacity: 1;

}

#discorde img {
    width: 3em;
    height: 2.3em;
    object-fit: cover;
}

.reseaux-sociaux:hover #facebook {
    transform: translateX(3em);
    opacity: 1;
}

.reseaux-sociaux:hover #tiktok {
    transform: translateX(5.5em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.reseaux-sociaux:hover #twitter {
    transform: translateX(-3em);
    transition: ease-in-out .9s;
    opacity: 1;
}

.reseaux-sociaux:hover #youtube {
    transform: translateX(-5.5em);
    transition: ease-in-out .9s;
    opacity: 1;

}